<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gg.backend.mapper2.GoodsMapper">


    <insert id="insert">
        INSERT INTO
          t_goods
            (goods_name,goods_type,goods_price)
          VALUES
            ( #{goodsName},#{goodsType},#{goodsPrice})
    </insert>

    <select id="selectAll" resultType="com.gg.backend.domain.Goods">
        select * , pk_goods_id as id  from t_goods where is_delete = 0
    </select>


</mapper>