<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>back-end</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-button @click="visible = true">首页</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
        <p>Try Element22</p>
    </el-dialog>
</div>
</body>
import Vue before Element
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                token: null
            }
        },
        created(){
            var storage = window.localStorage;
            let token = storage.getItem('access_token');
            this.token = token

            this.init()
            console.log("init....")
        },
        methods: {
            init() {
                axios({
                    method: 'get',
                    url: 'get',
                    headers: {
                            'Authorization': 'Bearer ' + this.token,
                    },
                }).then(function (res) {
                    console.log(res.data);
                    if (res.data.code == 1) {
                        // if (res.data.errorCode == "401") {
                            console.log("开始鉴权")
                            if (confirm("权限不足,去登录？")) {
                                let winObj = window.open("/loginPage", "_blank")
                                var loop = setInterval(function () {
                                    if (winObj.closed) {
                                        clearInterval(loop);
                                        parent.location.reload();
                                    }
                                }, 1);
                            // }
                        } else {
                            alert(res.data.message)
                        }
                    }else {
                        alert(res.data)
                    }
                });
            },
        }
    })
</script>
</html>